on: ["push", "pull_request"]

name: Test Coveralls

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Use Node
        uses: actions/setup-node@v6
        with:
          node-version: 25.x
      - name: Install dependencies
        run: npm ci
      - name: run coverage
        run: npm run coverage
      - name: Coveralls
        uses: coverallsapp/github-action@v2
